<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Un bon ami paye toujours ses dettes - Rappel pour événement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body bgcolor="#f5f5f5" style="background-color: #f5f5f5; margin: 0; padding: 0;">
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" style="padding: 20px 0 30px 0;">
      <table cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td bgcolor="#ff895d" align="center" style="background-color: #ff895d; color: #ffffff; font-family: lucida sans unicode, lucida grande, sans-serif; font-size: 30px; font-variant: small-caps; padding: 40px 0 30px 0;">
            un bon ami paye toujours ses dettes
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="background-color: #ffffff; font-family: lucida sans unicode, lucida grande, sans-serif; font-size: 12px; text-align: justify; padding: 40px 30px 30px 30px;">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #153643; font-size: 18px;">
                  Rappel pour l'événement "{{eventName}}"
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 20px 0;">
                  Bonjour <strong>{{participantName}}</strong>,<br/>
                  Trouvez ci-dessous un récapitulatif personnalisé pour l'événement.
                </td>
              </tr>{{#if hasDebts}}
              <tr>
                <td>
                  La liste des sommes que vous devez :
                </td>
              </tr>{{#each debts}}
              <tr>
                <td style="padding: 10px 0 15px 70px;">
                  {{mitigatedDebt}}&nbsp;➙&nbsp;<strong>{{participantName}}</strong>
                </td>
              </tr>{{/each}}
              <tr>
                <td>Pour une dette totale de {{totalDebt}}.</td>
              </tr>{{else}}
              <tr>
                <td>
                  Vous n'avez aucune dette !
                </td>
              </tr>{{/if}}
              <tr>
                <td align="center" style="padding-top: 40px;">
                  Vous pouvez retrouver le détail des dépenses <a href="{{eventLink}}" target="_blank" style="color: #ff895d; font-weight: normal; text-decoration: underline;">en suivant ce lien</a>.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="color: #9c9c9c; font-size: 14px; padding: 30px 30px 0 30px;">
            <span style="font-style: italic;">
              "Tu souffriras pour ça. Un jour viendra où tu penseras être heureuse et en sécurité, et ta joie se changera en cendres dans ta bouche. Là, tu sauras que la dette est payée."
            </span>
          </td>
        </tr>
        <tr>
          <td style="color: #9c9c9c; font-size: 14px; padding: 5px 30px 30px 30px;">
            <strong>Un célèbre nain</strong>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>